@model IEnumerable<RentCars.Models.Maintenance>

@{
    ViewData["Title"] = "Index";
    var vehicleSelectList = ViewData["Vehicles"] as SelectList;
    var selectedVehicleId = Context.Request.Query["vehicleId"].ToString();
}

<h1>Maintenance</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form method="get" asp-action="Index">
    <label for="vehicleId">Filter by Vehicle:</label>
    <select id="vehicleId" name="vehicleId" class="form-control" style="width:200px;display:inline-block;margin-right:10px;" onchange="this.form.submit()">
        <option value="">All Vehicles</option>
       @foreach (SelectListItem vehicle in vehicleSelectList)
        {
            <option value="@vehicle.Value" selected="@(vehicle.Value == selectedVehicleId)">
                @vehicle.Text
            </option>
        }
}
    </select>
    <noscript><input type="submit" value="Filter" class="btn btn-primary" /></noscript>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.VehicleId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaintenanceId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaintenanceId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaintenanceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
