@model IEnumerable<RentCars.Models.RentalDetail>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DailyRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rental)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DailyRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rental.RentalId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.VehicleId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RentalDetailId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RentalDetailId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RentalDetailId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
