@model IEnumerable<RentCars.Models.CartItems>

@{
    ViewData["Title"] = "DisplayCartItems";
}

<h1>Your Car Details</h1>

@* <p>
    <a asp-action="Create">Create New</a>
</p> *@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoOfCars)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmout)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Vehicle.DailyRate)
            </th> *@
            <th>
                Total Amount
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            var OverallTotal = 0.0;
        }
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfCars)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmout)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.Vehicle.DailyRate)                
            </td> *@
                <td>
                    @{
                        var tamount = item.NoOfCars * item.TotalAmout;
                        OverallTotal = OverallTotal + tamount;
                    }
                    @tamount.ToString("C2")
                </td>
                <td>
                    <a class="btn btn-md btn-danger" asp-controller="VehicleCartItems" asp-action="DeleteCartItem" asp-route-id="@item.CartId">Delete</a>
                </td>
            @* <td>
                <a asp-action="Edit" asp-route-id="@item.CartId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CartId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CartId">Delete</a>
            </td> *@
        </tr>
}
    </tbody>
</table>
<br />
<br />
<h1>The total amount of orders is:@OverallTotal.ToString("C2")</h1>

<br />
<br />
<div>
    <a asp-controller="VehicleCartItems" asp-action="CheckOut" class="btn btn-lg btn-success">Check Out</a>
</div>
<br />
<br />
<div>
    <a asp-controller="Vehicles" asp-action="GetAllVehicles" class="btn btn-lg btn-primary">Continue Shopping</a>
</div>
